body{
  background-color: white


}
#titulo{
  font-size: 30px; color:purple; font-family: serif; text-align: center;
}

#texto {
  font-size: 17px; color black; font-kerning: normal;text-align: inherit;
}

ul {
  top: 200px;
font-size: 30px;
}


h1{
  font-size: 45px; color: black; text-align: justify;

}

}
h3{font-size: 25px;color:black; font-family: monospace;

}

img{
  font-size: 30px
}

{
  section color: purple; font-family: inherit; text-align: justi
}

.contato{font-family: cursive; background-color: #A89203; color: #FFFFFF ; font-size: 30px; text-align: center;}
