#titulo{
  font-size: 30px; color:purple; font-family: serif; text-align: center;
}

#texto {
  font-size: 17px; color black; font-kerning: normal;text-align: left;
}

ul{
  display: flex;
  flex-direction: center
}


h1{
  font-size: 45px; color: black; text-align: justify;

}

}
h3{font-size: 25px;color:black; font-family: monospace;

}

img{
  font-size: 30px
}
